<!doctype html>
<html lang="{{ site:short_locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
  </head>
  <body class="bg-gray-100 font-sans font-light leading-normal text-slate-800">
      {{ partial:nav }}

      {{ template_content }}
      
      {{ partial:footer }}
    <script src="{{ mix src='/js/site.js' }}"></script>
  </body>
</html>
