@keyframes arrow-pulse {
  0% {
    opacity: .7;
    transform: translateY(0);
  }
  33% {
    opacity: 1;
    transform: translateY(8px);
  }
  100% {
    opacity: .7;
    transform: translateY(0);
  }
}